*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: left;
    color: black;
    font-size: 2rem;
}
.container{
    background: rgb(0, 0, 20, .9) url("https://i.postimg.cc/BbS2Gbx6/Screenshot-2023-10-12-165728.png");
    background-size: contain;
    background-blend-mode: luminosity;
    height: auto;
}
